# Sinatra script for development purposes
example.rb

## Other files to hide ##

# scm revert files
**.orig

# Mac finder artifacts
.DS_Store

# Netbeans project directory
/nbproject/

# RubyMine project files
.idea

# Textmate project files
/*.tmproj

# vim artifacts
**.swp

# DevProc
Procfile.dev