.container
  .row
    .span5.hero-unit
      %table
        %dl.dl-horizontal
          %dt Email: 
          %dd.text-info= c.email
        %dl.dl-horizontal
          %dt Pledge:
          %dd.text-success
            %span#amount
              %span.amount= c.amount_cents
    .span5.hero-unit
      %h1 Thanks,
      %p.lead.text-warning but this page is under construction!
      %p We submitted your form anyways.
      %p.muted (we really like you).
      %p
        %a.btn.btn-primary.btn-large{ :href => "/" }
          Return?

:javascript
  $('.amount').before('<span id="unit">$</span>');
  $('.amount').after('<span id="decimall">.00</span>');